PREBUILT_PLATFORM=linux/arm64
USER_SERVICE_IMAGE=polyflow/userservice:portable-arm64
MENU_SERVICE_IMAGE=polyflow/menuservice:portable-arm64
TRACKING_SERVICE_IMAGE=polyflow/trackingservice:portable-arm64
